{% extends "baseList.html" %}
{% load humanize %}
{% load static %}{% block cTitle %}Categorías{% endblock %}{% block pTitle %}Categorías{% endblock %}
{% block theader %}
    <th data-priority="3">Secuencia</th>
    <th data-priority="4">Restaurante</th>
    <th data-priority="1">Categoría</th>
    <th data-priority="2">Activa</th>
    <th data-priority="5">Altura</th>
{% endblock %}
{% block tbody %}
    {% for categoria in categoria_list %}
        <tr>
            <td>
                <small>{{ categoria.orden }}</small>
            </td>
            <td>
                <i class="material-icons">store</i>{{ categoria.restaurante }}
            </td>
            <td><a href="{{ categoria.get_absolute_url }}">{{ categoria }}</a>
                {% if request.user.is_superuser %}
                    <span class="tools-modal-trigger">
                        <a id="curPos_C{{ categoria.id }}" href="#" onclick="openModal_C{{ categoria.id }}()">
                            <i class="material-icons">more_vert</i></a>
                    </span>
                {% endif %}</td>
            <td class="center">{{ categoria.activa|yesno }}</td>
            <td class="center">{{ categoria.mask_height }}</td>
        </tr>
    {% endfor %}
{% endblock %}
{% block tdfoot %}
    <td><small>Secuencia</small></td>
    <td><small>Restaurante</small></td>
    <td><small>Categoría</small></td>
    <td><small>Activa</small></td>
    <td><small>Altura</small></td>
{% endblock %}
{% block footer %}{% comment %}
    <div class="fixed-action-btn">
        <a class="btn-floating btn-large darkblue">
            <i class="large material-icons">add</i>
        </a>
        <ul>
            <li><a class="btn-floating blue"
                   href="{% url 'menu_categoria_create' %}"><i class="material-icons">insert_chart</i></a></li>
            <li><a class="btn-floating yellow darken-1"><i class="material-icons">format_quote</i></a></li>
            <li><a class="btn-floating green"><i class="material-icons">publish</i></a></li>
            <li><a class="btn-floating blue"><i class="material-icons">attach_file</i></a></li>
        </ul>
    </div>{% endcomment %}
    {% if request.user.is_superuser %}
        {% for categoria in categoria_list %}
            <div class="modal-open">
                <div class="tools-modal-wrapper" id="modal_C{{ categoria.id }}">
                    <ul class="ui-listview">
                        <li>
                            <a title="Seleccionar Categoría {{ categoria }}" data-ajax="false"
                               onclick="window.location.reload(false);"
                               href="{{ categoria.get_absolute_url }}">
                                <i class="material-icons">arrow_forward</i> Seleccionar</a></li>
                        <li>
                            <a title="Editar Categoría {{ categoria }}"
                               href="{{ categoria.get_update_url }}">
                                <i class="material-icons">edit</i> Editar</a></li>
                        <li>
                            <a title="Eliminar Categoría {{ categoria }}"
                               href="{{ categoria.get_delete_url }}">
                                <i class="material-icons">delete</i> Borrar</a></li>
                    </ul>
                    <div class="ui-popup-arrow-container ui-popup-arrow-t">
                        <div class="ui-popup-arrow ui-body-a ui-overlay-shadow"></div>
                    </div>
                </div>
            </div>
            <script type="text/javascript">

                $(document).ready(function () {
                    $('#curPos_C{{ categoria.id }}').click(setModalPos);

                    function setModalPos() {
                        var offset = $(this).offset();
                        $('.modal-open').css({
                            'top': (offset.top + 36),
                            'left': (offset.left - 52)
                        });
                    }
                });

                function openModal_C{{ categoria.id }}() {
                    $('#modal_C{{ categoria.id }}').openModal();
                }
            </script>
        {% endfor %}
    {% endif %}
{% endblock %}