{% extends "baseForm.html" %}
{% load staticfiles %}
{% load material_form %}
{% block cTitle %}Datos de Categoría{% endblock %}
{% block pTitle %}Datos de Categoría{% endblock %}
{% block content %}
    <div class="row valign change-form">
        <div class="col s12 m8 offset-m2 l8 offset-l2">
            <div class="card">
                <span class="card-title grey-text text-darken-2">Categoría</span>
                <p>Estos son los campos del registro de <strong>Categorías</strong> que se pueden editar.</p>
                <form method="post" class="viewform">
                    {% csrf_token %}
                    <input type="hidden" id="id_restaurante" name="restaurante" value="{{r_id }}"/>
                    {% form form=form %}{% endform %}
                    <div class="right-align">
                        <button type="submit" name="_submit" class="waves-effect waves-light btn">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}