{% extends "baseForm.html" %}
{% load staticfiles %}
{% load material_form %}
{% block title %}Datos de Plato{% endblock %}
{% block page-title %}Datos de Plato{% endblock %}
{% block content %}
    <div class="row valign change-form">
        <div class="col s12 m8 offset-m2 l8 offset-l2">
            <div class="card">
                <span class="card-title grey-text text-darken-2">Plato</span>
                <p>Estos son los campos del registro de <strong>Platos</strong> que se pueden editar.</p>
                <form method="post" class="viewform">
                    {% csrf_token %}
                    {% form form=form %}{% endform %}
                    <div class="right-align">
                        <button type="submit" name="_submit" class="waves-effect waves-light btn">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}