{% extends "baseList.html" %}
{% load humanize %}
{% load static %}{% block cTitle %}Platos{% endblock %}{% block pTitle %}Platos{% endblock %}
{% block theader %}
    <th data-priority="8">Secuencia</th>
    <th data-priority="9">Categoría</th>
    <th data-priority="1">Plato</th>
    <th data-priority="10">Descripción</th>
    <th class="center" data-priority="3">Precio 1</th>
    <th class="center" data-priority="9">Precio 2</th>
    <th class="center" data-priority="4">Activo</th>
{% endblock %}
{% block tbody %}
    {% for plato in item_list %}
        <tr>
            <td>
                <small>{{ plato.orden }}</small>
            </td>
            <td>
                <i class="material-icons">store</i>{{ plato.categoria.restaurante }} &mdash; <i class="material-icons">list_view</i>{{ plato.categoria }} <em>({{ plato.categoria.platos }})</em>
            </td>
            <td><a href="{{ plato.get_absolute_url }}">{% if plato.nivel > 1 %}&nbsp;&nbsp;&nbsp;
                &hellip;{% endif %}{{ plato }}</a>
                {% if request.user.is_superuser %}
                    <span class="tools-modal-trigger">
                        <a id="curPos_P{{ plato.id }}" href="#" onclick="openModal_P{{ plato.id }}()">
                            <i class="material-icons">more_vert</i></a>
                    </span>
                {% endif %}</td>
            <td>{{ plato.descripcion|default_if_none:"" }}</td>
            <td class="center">{{ plato.precio|default_if_none:"&mdash;" }}</td>
            <td class="center">{{ plato.precio_2|default_if_none:"&mdash;" }}</td>
            <td class="center">{{ plato.activo|yesno }}</td>
        </tr>
    {% endfor %}
    {% block tdfoot %}{% comment %}
        <td><small>Secuencia</small></td>
        <td><small>Categoría</small></td>
        <td><small>Plato</small></td>
        <td><small>Descripción</small></td>
        <td><small>Precio 1</small></td>
        <td><small>Precio 2</small></td>
        <td><small>Activo</small></td>{% endcomment %}
    {% endblock %}
{% endblock %}{% block footer %}{% comment %}
    <div class="fixed-action-btn">
        <a class="btn-floating btn-large darkblue" href="{% url 'menu_item_create' %}">
            <i class="large material-icons">add</i>
        </a>
    </div>{% endcomment %}
    {% if request.user.is_superuser %}
        {% for plato in item_list %}
            <div class="modal-open">
                <div class="tools-modal-wrapper" id="modal_P{{ plato.id }}">
                    <ul class="ui-listview">
                        <li>
                            <a title="Seleccionar Plato {{ plato }}" data-ajax="false"
                               onclick="window.location.reload(false);"
                               href="{{ plato.get_absolute_url }}">
                                <i class="material-icons">arrow_forward</i> Seleccionar</a></li>
                        <li>
                            <a title="Editar Plato {{ plato }}"
                               href="{{ plato.get_update_url }}">
                                <i class="material-icons">edit</i> Editar</a></li>
                        <li>
                            <a title="Eliminar Plato {{ plato }}"
                               href="{{ plato.get_delete_url }}">
                                <i class="material-icons">delete</i> Borrar</a></li>
                    </ul>
                    <div class="ui-popup-arrow-container ui-popup-arrow-t">
                        <div class="ui-popup-arrow ui-body-a ui-overlay-shadow"></div>
                    </div>
                </div>
            </div>
            <script type="text/javascript">
                $(document).ready(function () {
                    $('#curPos_P{{ plato.id }}').click(setModslPos);

                    function setModslPos() {
                        var offset = $(this).offset();
                        $('.modal-open').css({
                            'top': (offset.top + 36),
                            'left': (offset.left - 52)
                        });
                    }

                    $('select').material_select();

                });

                function openModal_P{{ plato.id }}() {
                    $('#modal_P{{ plato.id }}').openModal();
                }
            </script>
        {% endfor %}
    {% endif %}{% endblock %}
