{% extends "baseDetail.html" %}
{% load static %}
{% load humanize %}
{% block cTitle %}Detalle de Restaurante{% endblock %}
{% block pTitle %}Detalle de Restaurante{% endblock %}{% block thhead %}
    <i class="material-icons"
       style="color: #4285f4 !important">store</i>{{ restaurante }}{% if request.user.is_superuser %}
    <span class="tools-modal-trigger right">
        <a id="curPos_R{{ restaurante.id }}"
           href="#modal_R{{ restaurante.id }}"
           class="modal-trigger"
           onclick="openModal_R{{ restaurante.id }}()">
            <i class="material-icons">more_horiz</i></a>
    </span>{% endif %}{% endblock %}
{% block thbody %}
{#    <tr>#}
{#        <td class="text-right table-col-label">Restaurante</td>#}
{#        <td class=""><strong>{{ restaurante }}</strong></td>#}
{#    </tr>#}
    <tr>
        <td class="text-right table-col-label">Lugar</td>
        <td class=""><strong>{{ restaurante.lugar }}</strong></td>
    </tr>
    <tr>
        <td class="text-right">Activo</td>
        <td class=""><strong>{{ restaurante.activo|yesno }}</strong></td>
    </tr>
    <tr>
        <td class="text-right">Texto en Menú</td>
        <td class=""><strong>{{ restaurante.texto_menu }}</strong></td>
    </tr>
{#    <tr>#}
{#        <td class="text-right">Creado</td>#}
{#        <td class=""><em>{{ restaurante.creado|date:'D d/M/Y' }}</em></td>#}
{#    </tr>#}
{#    <tr>#}
{#        <td class="text-right">Actualizado</td>#}
{#        <td class=""><em>{{ restaurante.actualizado|date:'D d/M/Y' }}</em></td>#}
{#    </tr>#}
{% endblock %}
{% block tdhead %}
    <th>Secuencia</th>
    <th>Categoría</th>
    <th class="center">Platos</th>
    <th class="center">Activa</th>
    <th>Altura</th>
    {#    <th>Título Precio 1</th>#}
    {#    <th>Título Precio 2</th>#}
{% endblock %}
{% block tdbody %}
    {% for categoria in restaurante.categorias.all %}
        <tr>
            <td>{{ categoria.orden }}</td>
            <td><a href="{{ categoria.get_absolute_url }}">{{ categoria }}</a>
                {% if request.user.is_superuser %}
                    <span class="tools-modal-trigger">
                        <a id="curPos_C{{ categoria.id }}" href="#" onclick="openModal_C{{ categoria.id }}()">
                            <i class="material-icons">more_vert</i></a>
                    </span>
                {% endif %}</td>
            <td class="center">{{ categoria.platos }}</td>
            <td class="center">{{ categoria.activa|yesno }}</td>
            <td>{{ categoria.mask_height }}</td>
            {#            <td>{{ categoria.header_price_1 }}</td>#}
            {#            <td>{{ categoria.header_price_2 }}</td>#}
        </tr>{% endfor %}{% endblock %}{% block footer %}{% if request.user.is_superuser %}{# minipopup Header #}
            <div class="modal-open">
                <div class="tools-modal-wrapper modal-content" id="modal_R{{ restaurante.id }}">
                    <ul class="ui-listview">
                        <li>
                            <a title="Agregar Restaurante Nuevo"
                               href="{% url "menu_restaurante_create" %}">
                                <i class="material-icons">add</i> Agregar</a></li>
                        <li>
                            <a title="Editar Restaurante {{ restaurante }}"
                               href="{{ restaurante.get_update_url }}">
                                <i class="material-icons">edit</i> Editar</a></li>
                        <li>
                            <a title="Eliminar Restaurante {{ restaurante }}"
                               href="{{ restaurante.get_delete_url }}">
                                <i class="material-icons">delete</i> Borrar</a></li>
                    </ul>
                    <div class="ui-popup-arrow-container ui-popup-arrow-t">
                        <div class="ui-popup-arrow ui-body-a ui-overlay-shadow"></div>
                    </div>
                </div>
            </div>
            <script type="text/javascript">
                $(document).ready(function () {
                    $('#curPos_R{{ restaurante.id }}').click(function () {
                        var offset = $(this).offset();
                        $('.modal-open').css({
                            'top': (offset.top + 36),
                            'left': (offset.left - 52)
                        });
                    });
                });
                function openModal_R{{ restaurante.id }}() {
                    $('#modal_R{{ restaurante.id }}').openModal();
                }
            </script>{% endif %}
    <div class="fixed-action-btn">
        <a class="btn-floating btn-large darkblue">
            <i class="large material-icons">add</i>
        </a>
        <ul>
            <li><a class="btn-floating" style="background-color: #9c27b0"
                   href="{% url 'menu_categoria_create' restaurante_id=restaurante.pk %}">
                <i class="material-icons">view_list</i></a></li>
            <li><a class="btn-floating" style="background-color: #4285f4"
                   href="{% url 'menu_restaurante_create' %}">
                <i class="material-icons">store</i></a></li>
        </ul>
    </div>
    {% if request.user.is_superuser %}
        {% for categoria in restaurante.categorias.all %}
            <div class="modal-open">
                <div class="tools-modal-wrapper" id="modal_C{{ categoria.id }}">
                    <ul class="ui-listview">
                        <li>
                            <a title="Seleccionar Categoría {{ categoria }}" data-ajax="false"
                               onclick="window.location.reload(false);"
                               href="{{ categoria.get_absolute_url }}">
                                <i class="material-icons">arrow_forward</i> Seleccionar</a></li>
                        <li>
                            <a title="Editar Categoría {{ categoria }}"
                               href="{{ categoria.get_update_url }}">
                                <i class="material-icons">edit</i> Editar</a></li>
                        <li>
                            <a title="Eliminar Categoría {{ categoria }}"
                               href="{{ categoria.get_delete_url }}">
                                <i class="material-icons">delete</i> Borrar</a></li>
                    </ul>
                    <div class="ui-popup-arrow-container ui-popup-arrow-t">
                        <div class="ui-popup-arrow ui-body-a ui-overlay-shadow"></div>
                    </div>
                </div>
            </div>
            <script type="text/javascript">
                $(document).ready(function () {
                    $('#curPos_C{{ categoria.id }}').click(function () {
                        var offset = $(this).offset();
                        $('.modal-open').css({
                            'top': (offset.top + 36),
                            'left': (offset.left - 52)
                        });
                    });
                });
                function openModal_C{{ categoria.id }}() {
                    $('#modal_C{{ categoria.id }}').openModal();
                }
            </script>
        {% endfor %}
    {% endif %}
{% endblock %}
