{% extends "baseList.html" %}
{% load static %}{% block cTitle %}Restaurantes{% endblock %}{% block pTitle %}Restaurantes{% endblock %}
{% block theader %}
    <th data-priority="2">Orden</th>
    <th data-priority="9">Lugar</th>
    <th data-priority="1">Nombre</th>
    <th data-priority="3">Activo</th>
    <th data-priority="5">Texto en el Menú</th>
{% endblock %}
{% block tbody %}
    {% for restaurante in restaurante_list %}
        <tr>
            <td>{{ restaurante.orden }}</td>
            <td>{{ restaurante.lugar }}</td>
            <td><a href="{{ restaurante.get_absolute_url }}">{{ restaurante }}</a>
                {% if request.user.is_superuser %}
                    <span class="minipopuplink">
                        <a id="curPos_R{{ restaurante.id }}" href="#modal_R{{ restaurante.id }}" class="modal-trigger"
                        onclick="openModal_R{{ restaurante.id }}()">
                            <i class="material-icons">more_vert</i></a>
                    </span>{% endif %}</td>
            <td class="center">{{ restaurante.activo|yesno }}</td>
            <td>{{ restaurante.texto_menu }}</td>
        </tr>
    {% endfor %}{% block tdfoot %}{% comment %}
    <td><small>Orden</small></td>
    <td><small>Lugar</small></td>
    <td><small>Nombre</small></td>
    <td><small>Activo</small></td>
    <td><small>Texto en el Menú</small></td>{% endcomment %}
{% endblock %}
{% endblock %}{% block footer %}
    <div class="fixed-action-btn">
        <a class="btn-floating btn-large darkblue">
            <i class="large material-icons">add</i>
        </a>
        <ul>
            <li><a class="btn-floating red"
                   href="{% url 'menu_restaurante_create' %}"><i class="material-icons">insert_chart</i></a></li>
            <li><a class="btn-floating yellow darken-1"><i class="material-icons">format_quote</i></a></li>
            <li><a class="btn-floating green"><i class="material-icons">publish</i></a></li>
            <li><a class="btn-floating blue"><i class="material-icons">attach_file</i></a></li>
        </ul>
    </div>
{% if request.user.is_superuser %}
    {% for restaurante in restaurante_list %}
        <div class="modal-open">
            <div class="minipopup3 modal-content" id="modal_R{{ restaurante.id }}">
                <ul class="ui-listview">
                    <li>
                        <a title="Seleccionar Restaurante {{ restaurante }}"
{#                           data-ajax="false"#}
{#                           onclick="window.location.reload(false);"#}
                           href="{{ restaurante.get_absolute_url }}">
                            <i class="material-icons">arrow_forward</i> Seleccionar</a></li>
                    <li>
                        <a title="Editar Restaurante {{ restaurante }}"
                           href="{{ restaurante.get_update_url }}">
                            <i class="material-icons">edit</i> Editar</a></li>
                    <li>
                        <a title="Eliminar Restaurante {{ restaurante }}"
                           href="{{ restaurante.get_delete_url }}">
                            <i class="material-icons">delete</i> Borrar</a></li>
                </ul>
                <div class="ui-popup-arrow-container ui-popup-arrow-t">
                    <div class="ui-popup-arrow ui-body-a ui-overlay-shadow"></div>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            $(document).ready(function () {
                $('#curPos_R{{ restaurante.id }}').click(setModalPos);
                function setModalPos() {
                    var offset = $(this).offset();
                    $('.modal-open').css({
                        'top': (offset.top + 36),
                        'left': (offset.left - 52)
                    });
                }
            });
            function openModal_R{{ restaurante.id }}() {
                $('#modal_R{{ restaurante.id }}').openModal();
            }
        </script>
    {% endfor %}
{% endif %}
{% endblock %}