{% extends "base.html" %}
{% load staticfiles %}
{% load humanize %}
{% block extcss %}
    <link type="text/css" rel="stylesheet"
          href="{% static 'css/materialize-0.97.5.css' %}"/>
    <!--materialize-datatables-->
    <link rel="stylesheet" type="text/css" href="{% static 'datatables/datatables.min.css' %}">
    <!--/materialize-datatables-->
    {% include 'material/includes/material_css.html' %}  {# de Django-Material #}
{% endblock %}{% block cTitle %}listTitle{% endblock %}
{% block content %}
    <div class="card"><!-- detalle -->
        <table id="table-detail" class="striped bordered ">
            <thead>
            <tr>
                <th colspan="2">{% block thhead %}{% endblock %}{# Table Header-Head #}
                </th>
            </tr>
            </thead>
            <tbody>{% block thbody %}{% endblock %}{# Table Header-Body #}
            </tbody>
        </table>
    </div><!-- /detalle -->
    <div class="card"><!-- tabla -->
        <table id="tabladedatos" data-role="table" data-mode="columntoggle"
               class="bordered table-stroke ui-shadow table-stripe ui-responsive"><!-- tabladedatos -->
            <thead><!-- header row -->
            <tr>{% block tdhead %}{% endblock %}{# Table Detail-Head #}
            </tr>
            </thead><!-- /header row -->
            <tbody><!-- data  -->{% block tdbody %}{% endblock %}{# Table Detail-Body #}
            </tbody><!-- /data -->
            <tfoot></tfoot><!--/totales -->
        </table><!-- /tabladedatos -->
    </div><!-- /tabla -->
    {% block footer %}{% endblock %}
{% endblock %}
{% block scripts %}
    {# materialize_css -- v 0.100... #}
    <script type="text/javascript" src="{% static "materialize/js/materialize.min.js" %}"></script>
    {# materialize_css -- v 0.97.5.. #}
    <script type="text/javascript" src="{% static 'materialize/js/materialize-0.97.5.min.js' %}"></script>
    {#/materialize_css#}
    <!--materialize-datatables-js-->
    {#    <script type="text/javascript" src="{% static 'materialize/js/dataTables.materialize.js' %}"></script>#}
    <script type="text/javascript" src="{% static 'datatables/dataTables.js' %}"></script>
    {# customización de dataTables #}
    <script defer type="text/javascript" src="{% static "js/tablelocale.js" %}"></script>
    {#    {% include 'material/includes/material_js.html' %}   {# de Django-Material #}
{% endblock %}