{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% block extcss %}
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" media="screen,projection"
          href="{% static "materialize/css/materialize.min.css" %}"/>
    {% include 'material/includes/material_css.html' %} {# de Django_material_forms #}
{% endblock %}{% block cTitle %}formTitle{% endblock %}
{% block content %}
    <div class="card" style="padding: 16px;"><!-- topcontainer -->
    </div><!-- /topcontainer -->
    <br/><br/>
    {% block footer %}{% endblock %}
{% endblock %}
{% block scripts %}
    {# materialize_css #}
    <script type="text/javascript" src="{% static "materialize/js/materialize.min.js" %}"></script>
    {#/materialize_css#}
    {#    {% include 'material/includes/material_js.html' %}#}
    <script>
    $(document).ready(function ($) {
        $('select').material_select();
    })
    </script>
    {% block extrajs %}{% endblock %}
{% endblock %}