{% extends "base.html" %}
{% load staticfiles %}
{% load humanize %}{% block extcss %}
    <link type="text/css" rel="stylesheet" href="{% static 'css/materialize-0.97.5.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'datatables/datatables.min.css' %}">{#materialize-datatables#}
    {% include 'material/includes/material_css.html' %}{# de Django-Material #}{% endblock %}{% block cTitle %}listTitle{% endblock %}{% block content %}
    <div class="card"><!-- topcontainer -->
        <table id="tabladedatos" class="bordered striped"><!-- tabladedatos -->
            <thead><!-- header row -->
            <tr>{% block theader %}{% endblock %}</tr>
            </thead><!-- /header row -->
            <tbody><!-- data  -->{% block tbody %}{% endblock %}
            </tbody><!-- /data -->{% comment %}
            <tfoot>
            <tr>{% block tdfoot %}{% endblock %}</tr>
            </tfoot>{% endcomment %}
        </table><!-- /tabladedatos -->
    </div><!-- /topcontainer -->{% block footer %}{% endblock %}{% endblock %}{% block scripts %}
    <script type="text/javascript" src="{% static "materialize/js/materialize.min.js" %}"></script>{# materialize_css -- v 0.100... #}
    <script type="text/javascript" src="{% static 'materialize/js/materialize-0.97.5.min.js' %}"></script>{# materialize_css -- v 0.97.5.. #}
    <script type="text/javascript" src="{% static 'datatables/dataTables.js' %}"></script>{# materialize-datatables-js#}
    <script>
        function docHeight() {
            var height = jQuery(window).height();
            console.log("Altura Ventana: " + height + "px.");
            var filas = ((height - 380) / 42).toFixed(0) - 1;
            console.log(height);
            console.log("Caben " + filas + " filas.");
            return filas
        }
        filas = docHeight();
        $(document).ready(function () {
            var table;
            var breakResponsive = (jQuery(window).width() < 640) ? 1 : 0;
            table = $('#tabladedatos').dataTable(
                {
                    responsive: breakResponsive,
                    iDisplayLength: filas,
                    displayLenght: filas,
                    pageLength: filas,
                    lengthMenu: [[filas, filas * 2, filas * 3, filas * 4, -1], [filas, filas * 2, filas * 3, filas * 5, "todo"]],
                    columnDefs: [
                        {
                            visible: false,
                            targets: 1
                        }
                    ],
                    order: [[0, "asc"]],
                    drawCallback: function (settings) {
                        var api = this.api();
                        var rows = api.rows({page: 'current'}).nodes();
                        var cols = api.columns({page: 'current'}).count();
                        var last = null;

                        api.column(1, {page: 'current'}).data().each(function (group, i) {
                            if (last !== group) {
                                $(rows).eq(i).before(
                                    '<tr class="group"><td colspan="' + cols + '">' + group + '</td></tr>'
                                );

                                last = group;
                            }

                            api.columns().flatten().each(function (colIdx) {
                                // Create the select list and search operation
                                var select;
                                select = $('<select />')
                                    .appendTo(
                                        api.column(colIdx).footer()
                                    )
                                    .on('change', function () {
                                        api
                                            .column(colIdx)
                                            .search($(this).val())
                                            .draw();
                                    });

                                // Get the search data for the first column and add to the select list
                                api
                                    .column(colIdx)
                                    .cache('search')
                                    .sort()
                                    .unique()
                                    .each(function (d) {
                                        select.append($('<option value="' + d + '">' + d + '</option>'));
                                    });
                            });

                        });
                    },
                    language: {
                        columns: '<i class="material-icons md-28" style="vertical-align: -8px;color:#7b7b7b;">view_week</i>',
                        processing: 'En proceso...',
                        search: '<i class="material-icons md-28" style="vertical-align: -8px;color:#7b7b7b;">search</i>',
                        lengthMenu: '<i class="material-icons md-28" style="vertical-align: -8px;color: #7b7b7b;">format_list_numbered</i> _MENU_',
                        info: '_START_ a _END_ de <strong>_TOTAL_</strong> en total',
                        infoEmpty: 'No hay elementos',
                        infoFiltered: '(Filtrado de _MAX_ elementos en total)',
                        infoPostFix: '',
                        loadingRecords: 'Cargando...',
                        zeroRecords: 'No se encontraron registros',
                        emptyTable: 'No hay datos en esta tabla',
                        paginate: {
                            first: '<i class="material-icons">first_page</i>',
                            previous: '<i class="material-icons">chevron_left</i>',
                            next: '<i class="material-icons">chevron_right</i>',
                            last: '<i class="material-icons">last_page</i>'
                        },
                        aria: {
                            sortAscending: ': ordenar columna en forma ascendente',
                            sortDescending: ': ordenar columna en forma descendente',
                            paginate: {
                                first: 'First',
                                previous: 'Previous',
                                next: 'Next',
                                last: 'Last'
                            }
                        }
                    }
                });

            // Order by the grouping
            $('#tabladedatos tbody').on('click', 'tr.group', function () {
                var currentOrder = table.api().order()[0];
                if (currentOrder[0] === 1 && currentOrder[1] === 'asc') {
                    table.api().order([1, 'desc']).draw();
                }
                else {
                    table.api().order([1, 'asc']).draw();
                }
            });

        });
    </script>
{#    <script defer type="text/javascript" src="{% static "js/tablelocale.js" %}"></script>{# customización de dataTables #}{% endblock %}